body {
  background-color: #292F36;
  height: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #4ECDC4;
}

h1 {
  text-align: center;
  font-family: 'Poller One', cursive;
  color: #F7FFF7;
}

li {
  color: #4ECDC4;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./south_sister.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F7FFF7;
}