body {
  background-color: #292F36;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #4ECDC4;
}

h1 {
  text-align: center;
  font-family: 'Poller One', cursive;
  color: #F7FFF7;
}

li {
  color: #4ECDC4;
}